@model ProjectManagementSystem.ViewModels.Admin.HomeViewModel


<div class="row w-100 m-0">
    <div class="col-md-12 m-0 p-0">
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th scope="col">
                        <a>Имя</a>
                    </th>
                    <th scope="col">
                        <a>E-mail</a>
                    </th>
                    <th scope="col">
                        <a>Роль</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.EmailAddress</td>
                        <td>@user.Role.Name</td>
                        <td><a asp-controller="Admin" asp-action="UpdateUser" asp-route-userId="@user.Id">Изменить</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
