@model ProjectManagementSystem.Models.Project

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <input asp-for="User.Id" hidden="hidden" />
                <div class="form-group">
                    <label asp-for="Name">Название</label>
                    <input asp-for="Name" class="form-control" disabled="disabled" />
                    <span asp-validation-for="Name" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Описание проекта</label>
                    <textarea asp-for="Description" class="form-control" disabled="disabled"></textarea>
                    <span asp-validation-for="Description" style="color: red;"></span>
                </div>
                <div>
                    <label>Выбрать участника</label>
                    <select name="teamList" class="form-select" multiple asp-items="@ViewBag.Team" disabled="disabled"></select>
                    <span style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GitUrl">Репозиторий GitHub</label>
                    <input asp-for="GitUrl" class="form-control" disabled="disabled" />
                    <span asp-validation-for="GitUrl" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateEnd">Дата завершения проекта</label>
                    <input type="date" asp-for="DateEnd" class="form-control" disabled="disabled" />
                    <span asp-validation-for="DateEnd" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Attestation">Аттестация КИИ</label>
                    <select asp-for="Attestation" class="form-control" asp-items="@ViewBag.KII" disabled="disabled"></select>
                    <span asp-validation-for="Attestation" style="color: red;"></span>
                </div>

                @{
                    var role = User.Claims.FirstOrDefault(x => x.Value == "Администратор");
                    if (role != null)
                    {
                        <div class="form-group">
                            <label asp-for="Status">Аттестация КИИ</label>
                            <select asp-for="Status" class="form-control" asp-items="@ViewBag.Status" disabled="disabled"></select>
                            <span asp-validation-for="Status" style="color: red;"></span>
                        </div>
                    }
                }
                <br />

                @{
                    if (role != null)
                    {
                        <a asp-controller="Project" asp-action="ProjectUpdate" asp-route-productId="@ViewBag.ProjectId" class="btn btn-outline-dark">Изменить</a>
                        <input asp-for="Id" hidden="hidden" />
                        <form asp-controller="Project" asp-action="ProjectDelete" method="post">
                            <input asp-for="Id" hidden="hidden" />
                            <input type="submit" value="Удалить" class="btn btn-danger" />
                        </form>
                    }
                }

                <a asp-controller="Project" asp-action="Index">Назад к списку</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
